ol,ul{
    background-color: orange;
    border: 2px;
    border-color: red;
    width: 15%;
    display: inline-block;
    border-radius: 30px;
    margin: 30px;
}

li{
    background-color:red;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 2px;
    border-radius: 30px;
}

li:hover{
    background-color: green;
}